
<main class="content" style="background-image: url('assets/images/request.jpg'); background-size: cover;
background-repeat: no-repeat;
background-position: center;
min-height: 650px;">
<h1>Consultation By WORK POSITION</h1>
<div class="row justifu-content-center" style="display: flex; justify-content: center;">
  <div class="card-container">
    <div class="card" *ngFor="let post of posts">
      <div class="card-header">
        <h5 class="card-title">{{ post.post_name }}</h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let epi of post.epis">
            <img class="PPEimg"[src]="epi.image">
            {{ epi.label }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

</main>