.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: start;
}

.card {
  width: 18rem;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
  transition: all .2s ease-out;
  margin-bottom: 20px;
}

.card-header {
  padding: 10px;
  background-color: #e9ecef;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card:hover {
  box-shadow: 0 20px 40px rgba(72, 78, 85, .6);
  transform: translateY(-10px);
}

.card-title {
  font-weight: bold;
  color: #2b2b2b;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.card-body {
  height: 350px;
  overflow: auto;
}
  
  
  .list-group-item {
    padding: 5px 10px;
    border: none;
  }
  
  .list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .list-group-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  h1{
    padding:2%;
  }