.main-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content
{
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  border-radius: 5px;
}

.search-2 {
  position: relative;
  width: 100%;
  color: black;
}

.search-2 input {
  height: 45px;
  border: none;
  width: 100%;
}

.search-2 input:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

.search-2 i {
  position: absolute;
  top: 12px;
  left: -10px;
  font-size: 24px;
 
}

.search-2 button {
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  height: 45px;
  background-color: rgba(233, 131, 0, 1);
  color: #fff;
  width: 120px;
  border-radius: 4px;
}
table
{
  width: 70vw;
  height: 70vh;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: .5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: .2s ease-in-out .5s;
}