
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<body style="background-image: url('assets/images/support.png');">
<div class="container">
	<div class="d-flex h-100">
		<div class="card">
			<div class="card-header">
				<div>
					<img src="assets/images/logo2.png" class="img-fluid" alt="te logo">
				</div>
			</div>
			<div class="card-body">
				<h1>
					NEED SUPPORT,<br>
                    CONTACT NOW!
				</h1>
			
				<h2>CONTACT US :</h2>
				<p>
					<i class="material-symbols-rounded">call</i>
					<span class="txt">xxxxxxxxxxxxxxxx</span>
				</p>
				
					

				<h2>EMAIL US :</h2>	
				<p>
					<i class="material-symbols-rounded">mail</i>
					<span class="txt">xxxxxxx@te.com</span>
				</p>

				<h2>OUR WEBSITE :</h2>
				<p>
					<i class="material-symbols-rounded ">language</i>
					<span class="txt">www.xxxxxx.com</span>
				</p>
						
							

			</div>
			
		</div>
	</div>
</div>
</body>
