.content{
    background: -webkit-linear-gradient(left, rgba(233, 131, 0,1) 40%, #fff );
    height: 700px;
}

.title{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.RaiseBtn
{
  position: sticky;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgba(233, 131, 0, 1);
  color: white;
  margin-left: 40%;
  margin-right: 30%;
}


