.content{
background-size: cover;
background-repeat: no-repeat;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: start;
}

.card {
  width: 18rem;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
  transition: all .2s ease-out;
  margin-bottom: 20px;
}

.card-header {
  padding: 10px;
  background-color: #e98300;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card:hover {
  box-shadow: 0 20px 40px rgba(72, 78, 85, .6);
  transform: translateY(-10px);
}

.card-title {
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.card-body {
  height: 350px;
  overflow: auto;
}
  
  
  .list-group-item {
    padding: 5px 10px;
    border: none;
  }
  
  .list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .list-group-item:hover {
    background-color: #e98300;
    color:#fff;
    cursor: pointer;
  }
  h1{
    padding:2%;
    font-size: 60px; 
    color: white; 
    font-family:'Times New Roman', Times, serif; 
    padding-top: 5% ; 
    text-shadow: 8px 5px 15px #e98300;
    text-align: center;
  }
  .PPEimg{
    width: 50px;
    height: 50px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
  }