<body>
  
  <div class="logo">
    <img src="assets/images/logo.jpg" alt="TE Logo">
  </div>
 
  <h1 class="welcome">Welcome to HSE Equip</h1>
  <div class="role-selection">
    <p class="role-text">Please choose your role:</p>
    </div>
<div class="container">
<mat-card class="example-card">
    <mat-card-header>
      <div class="card-title-container">
      <mat-card-title>Admin</mat-card-title></div>
    </mat-card-header>
    <img mat-card-image src="/assets/images/admin.jpg" alt="Admin" routerLink="/LoginAdmin">
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div class="card-title-container">
      <mat-card-title>User</mat-card-title></div>
    </mat-card-header>
    <img mat-card-image src="/assets/images/user.jpg" alt="User" routerLink="/login">
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div></body>