body {
    font-family: "Lato", sans-serif;
}

.main-head{
    height: 200px;
    background: #fff;
   
}

.sidenav {
    height: 100%;
    background: linear-gradient(rgba(233, 131, 0,1) 65%,rgba(80,70,0,1));
    overflow-x: hidden;
    padding-top: 20px;
    color: white!important;
    
    img{
        width: 200px;
        height: 100px;
        margin-left: 50px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 5%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .register-form{
        margin-top: 20%;
    }
}
.login-main-text{
    margin-top: 20%;
    color: #fff;
}
.login-form{
    margin-top: 10%;
    margin-left: 50px;
    width:80%;
}
.login-main-text h2{
    font-weight: 300;
}
.btn-log{
    background-color: #285a6e !important;
    border-radius: 30px;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 100%;
    color: #fff;
}
.licence
{
    margin-top: 10%;
}
input
{
    background-color: transparent;
}
a
{
    color: white;
 }

 .sidebar {
    float: right;
    height: 100%;
    width: 60%; 
    background-repeat:no-repeat;
  }
  
  /* media query for small screens */
  @media only screen and (max-width: 768px) {
    .sidebar {
      display: none; /* hide the sidebar */
    }
  }
.pw
{
    border: 1px solid rgb(235, 223, 223);
    border-radius: 5px;
    height: 37px; 
}
.icon
{
    font-size:20px;
    position: absolute;
    top:25%;
    right: 25%;
}