<section class="content">
  <button mat-flat-button style="vertical-align: middle;" class="addBtn" (click)="showAddPostForm = true">
    <mat-icon>add_circle</mat-icon> ADD A NEW POST
  </button>
</section>
<div class="container">
  
  <form [hidden]="!showAddPostForm">
    <div class="form-group">
      <input type="text" class="m-3 form-control" placeholder="Post Name"  [(ngModel)]="newPostName" name="post_name">
    </div>
    <button type="submit" class="m-3 btn btn-primary"  (click)="addPost(newPostName)">Add Post</button>
    <button type="button" class="m-3 btn btn-secondary" (click)="hideAddPostForm()">Hide Form</button>
  </form>
  <h1>Posts</h1>
  <div class="main-body">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Post Name</th>
            <th>PEE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td class="m-3">
              {{ post.post_name }}
              <button mat-icon-button color="warn" (click)="deletePost(post.id)" class="m-3">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
            <td class="m-3">
              <ul>
                <li class="m-3" *ngFor="let epi of post.epis let i = index">
                  {{ epi.label }}
                  <button class="m-3" mat-icon-button color="warn" (click)="deleteEpi(post.id, epi.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </li>
                <li class="m-3">
                  <form>
                    <div class="form-group">
                      <select class="form-control" [(ngModel)]="post.newEpiLabel" [ngModelOptions]="{ standalone: true }">
                        <option *ngFor="let epi of epis" [value]="epi.label" >{{ epi.label }}</option>
                      </select>
                      
                    </div>
                    <button (click)="addEpi(post, post.newEpiLabel)" class="  btn btn-primary m-3">Add PEE</button>
                  </form>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
