.addBtn {
  
  background-color: rgba(233, 131, 0, 1);
  color: white;
  margin-left: 40%;
  margin-right: 30%;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 800px;
}

.table-container {
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
