<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://static.fontawesome.com/css/fontawesome-app.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>

<section class="content">
  <button mat-flat-button style="vertical-align: middle;" class="addBtn" (click)="showAddPostForm = true">
    <mat-icon>add_circle</mat-icon> ADD A NEW WORK POSITION
  </button>
</section>
<div class="container">

  <form [hidden]="!showAddPostForm">
    <div class="form-group">
      <input type="text" class="m-1 form-control" placeholder="Work Position Name" [(ngModel)]="newPostName" name="post_name">
    </div>
    <button type="submit" class="m-1 btn btn-primary" (click)="addPost(newPostName)">Add Work Position</button>
    <button type="button" class="m-1 btn btn-secondary" (click)="hideAddPostForm()">Hide Form</button>
  </form>

  <div class="main-body"> 
     
    <div class="table-container" [class.showAddPostForm]="showAddPostForm">
      <div class="container py-5">
        <div class="row justify-content-center">
          <h1 style="position: absolute; left: 50%;" [class.showAddPostForm]="showAddPostForm">WORK POSITIONS</h1>
          <div class="col-12 col-lg-4" *ngFor="let post of posts">
            <div class="card box-shadow mx-auto my-5" style="width: 18rem;">
              <div class="card-body">
                <h3 class="card-title">{{ post.post_name }}
                  <button mat-icon-button color="warn" (click)="deletePost(post.id)" class="m-1">
                    <mat-icon>delete</mat-icon>
                  </button>
                </h3>
                <hr>
                <p class="card-text">PPE</p>
                <ul>
                  <li class="m-1" *ngFor="let epi of post.epis let i = index">
                    {{ epi.label }}
                    <button class="m-1" mat-icon-button color="warn" (click)="deleteEpi(post.id, epi.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </li>
                  <li class="m-1">
                    <form>
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="post.newEpiLabel" [ngModelOptions]="{ standalone: true }">
                          <option *ngFor="let epiL of EpisLabels" [value]="epiL">{{ epiL }}</option>
                        </select>
                      </div>
                      <button (click)="addEpi(post, post.newEpiLabel)" class="btn btn-primary m-1">Add PPE</button>
                    </form>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
