<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
       
            <div class="login-form col-sm-12 ">

                <h2> Welcome to EHS Equip! </h2>
                <p>Please Login</p>
            <form #loginForm="ngForm" (ngSubmit)="submitlogin()">
                <div class="alert alert-danger" [hidden]="!error">{{error}}</div>
                <div class="form-group">
                    <label>Admin ID</label>
                    <input type="text" class="form-control" name="TEID" [(ngModel)]="form.TEID" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control " name="password" [(ngModel)]="form.password" required>
                </div>
                <div >
                    <input type="checkbox"> &nbsp; Remember Me
                </div>
                <button type="submit" class="btn btn-log" [disabled]="!loginForm.valid">Sign in</button>
            </form>
            <div class="d-flex ">
                Forgot Password?&nbsp; Please contact EHS Team
            </div>
            </div>
            
                
                <div class="d-flex justify-content-center licence">
                © 2023 - TE Connectivity Industrial Morocco.
                </div>
            
    </div>

<div class="main">
    <div class="pic">
    <img src="assets/images/login.png" alt="My Image">
  </div>
</div>