


/* Cards */
.card {
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
  transition: all .2s ease-out;
  margin-bottom: 20px;
  height: 450px;
  width: 380px; 
}

.card:hover {
  box-shadow: 0 20px 40px rgba(72, 78, 85, .6);
  transform: translateY(-10px);
}

.card-title {
  font-weight: bold;
  color:white;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}




/* Buttons inside Cards */
.card button {
  margin: 0.3rem;
}

/* Icons inside Buttons */
.card button mat-icon,
.card button i {
  font-size: 1.2rem;
  vertical-align: middle;
}



/* Miscellaneous */
a {
  cursor: pointer;
}



.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  
}

.Btn {
  position: sticky;
  background-color: rgba(233, 131, 0, 1);
  color: white;
  padding: 10px 10px;
  border-radius: 30px;
  cursor: pointer;
}

.Btn:hover {
  background-color: rgba(233, 131, 0, 0.8);
}


.card-body {
  padding: 20px;
  text-align: center;
  overflow: auto;

}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  color:black;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-orange-moon {
  background-color: orange;
  color: white;
  font-weight: bold;
  border: none;
}

.btn-orange-moon:hover {
  background-color: darkorange;
}
.row{
 
  gap: 100px; /* Add gap between cards */
}