
.example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar{
    background-color: rgba(233, 131, 0,1);
  }
  .mat-mdc-unelevated-button.mat-unthemed {
    background-color: transparent;
    color:#fff;
  }
  .mat-toolbar{
    color: #fff;
  }
  