<mat-toolbar >
  <div class="example-button-container">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  </div>
  <span class="example-spacer"></span>
  <div class="example-button-row">
    <button mat-flat-button >Support</button>
    <button mat-flat-button >Logout</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">   <mat-icon>menu</mat-icon>
    </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>PPE Request</button>
        <button mat-menu-item>PPE Consultation</button>
        <button mat-menu-item>PPE Stock</button>
      </mat-menu>
</div>
</mat-toolbar>
