<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<main class="content">

<section class="hero d-flex align-items-center" style="background-image: url('assets/images/homeAdmin.jpeg')">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="hero-title text-white">LET'S MAKE GETTING <br>EHS EQUIPMENT EASIER!</h1>
            </div>
            <div class="col-12 col-md-12 text-white">
                <p class="hero-subtitle">
                    Advanced portal, advanced solution for advanced people.<br>
                    Request the EHS Equipment you want and get information you need in one click.
                    </p>
            </div>
        </div>
    </div>   
</section>
<section class="container ">
    
<div class="row">
    <h1 class="main-title">
        Personal Protective Equipment
    </h1>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
        <div class="box-part text-center">
            
            <div class="col">
                <a routerLink="/admin/ppeRequest" class="col btn btn-orange-moon">PPE Request 
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
         </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
        <div class="box-part text-center">
            <div class="col">
                <a routerLink="/admin/ppeConsultation" class="col btn btn-orange-moon">PPE Consultation 
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            
         </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
        <div class="box-part text-center">
            <div class="col">
                <a routerLink="/admin/ppeStock" class="col btn btn-orange-moon">PPE Stock  
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
         </div>
    </div>

    <h1 class="main-title">
        Other EHS Assets
    </h1>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
        <div class="box-part text-center">
            
            <div class="col">
                <button class="col btn btn-orange-moon">Request 
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
         </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
        <div class="box-part text-center">
            <div class="col">
                <button routerLink="/admin/ppeConsultation" class="col btn btn-orange-moon">Consultation 
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
            
         </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
        <div class="box-part text-center">
            <div class="col">
                <button class="col btn btn-orange-moon">Stock  
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
         </div>
    </div>
</div>
</section>

</main>