<mat-toolbar>
  <div class="example-button-container">
    <img src="assets/images/Logo2.jpg" alt="TE Logo" routerLink="/admin/home">
   </div>
   <span class="example-spacer">
    <p style="padding-left: 40%; padding-top: 10px;"> 
    <mat-icon style="vertical-align: middle; ">
      account_circle</mat-icon> Welcome, {{userName}}
    </p>
</span>
    <div class="example-button-row">
      <a mat-flat-button routerLink="/support" style="vertical-align: middle; text-decoration: none;" >Support</a>
      <button mat-flat-button  href="#"(click)="logout($event)" style="vertical-align: middle;">Logout</button>
      <button mat-icon-button [matMenuTriggerFor]="menu" style="vertical-align: middle;"><mat-icon>menu</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
             <a routerLink="/user/ppeRequest" mat-menu-item style="text-decoration: none;"> PPE Request</a >
             <a routerLink="/user/userconsult" mat-menu-item style="text-decoration: none;" >PPE Consultation</a >
        </mat-menu>
  </div>
  </mat-toolbar>
    <main class="content">
      <router-outlet></router-outlet>
   
      <footer class="footer">
        <p style="position: absolute ; left: 5%;">© 2023 - TE Connectivity Industrial Morocco.</p>
        <p style="position: absolute ; right: 5%;">Our softwares, your safety.</p>
      </footer>
   </main>
