<mat-toolbar>
    <div class="example-button-container">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </div>
    <span class="example-spacer">
    </span>
    <div class="example-button-row">
      <button mat-flat-button >Support</button>
      <button mat-flat-button  href="#"(click)="logout($event)" >Logout</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">   <mat-icon>menu</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Riase PPE Request</button>
          <button mat-menu-item>PPE Consultation</button>
        </mat-menu>
  </div>
  </mat-toolbar>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
      
      <footer class="footer">
        <p style="position: absolute ; left: 5%;">© 2023 - TE Connectivity Industrial Morocco.</p>
        <p style="position: absolute ; right: 5%;">Our softwares, your safety.</p>
      </footer>
  
