<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://static.fontawesome.com/css/fontawesome-app.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>

<main class="content" style="background-image: url('assets/images/request.jpg'); background-size: cover;
background-repeat: no-repeat;
background-position: center;
min-height: 650px;">
    
 
  <div class="container">
    
    
    <h1 class="m-4" style=" font-size: 100px; color: white; font-family:'Times New Roman', Times, serif">Areas</h1>
    <button mat-flat-button style="vertical-align: middle;" class="addBtn" (click)="showAddAreaForm = true">
      <mat-icon>add_circle</mat-icon> ADD A NEW area
    </button>
    <form class="add_form" [hidden]="!showAddAreaForm">
      <div class="add-group">
        <input type="text" class="m-3 form-control area_name" placeholder="area Name"  [(ngModel)]="newAreaName" name="area_name">

      <button type="submit" class="m-3  Btn "  (click)="addArea(newAreaName)">Add area</button>
      <button type="button" class="m-3  Btn" (click)="hideAddAreaForm()">Hide Form</button>
    </div>
    </form>     
   
    <div class="main-body">
      <div class="table-container">
        <div class="container py-5">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-4" *ngFor="let area of areas">
              <div class="card box-shadow mx-auto my-5" style="width: 18rem;">
                
                <div class="card-body">
                  <h3 class="card-title">{{ area.area_name }}
                  <button mat-icon-button color="warn" (click)="deleteArea(area.id)" class="m-3">
                    <mat-icon>delete</mat-icon>
                  </button></h3>
                  <hr>
                  <p class="card-text">PPE</p>
                  <ul>
                    <li class="m-2" *ngFor="let epi of area.epis let i = index">
                      {{ epi.label }}
                      <button class="m-2" mat-icon-button color="warn" (click)="deleteEpi(area.id, epi.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </li>
                    <li class="m-2">
                      <form>
                        <div class="form-group">
                          <select class="form-control" [(ngModel)]="area.newEpiLabel" [ngModelOptions]="{ standalone: true }">
                            <option *ngFor="let epiL of EpisLabels" [value]="epiL">{{ epiL }}</option>
                          </select>
                        </div>
                        <button (click)="addEpi(area, area.newEpiLabel)" class="btn btn-primary m-3">Add PEE</button>
                      </form>
                    </li>
                  </ul>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</main>