<section class="content">
    <button mat-flat-button style="vertical-align: middle;" class="addBtn" (click)="showAddAreaForm = true">
      <mat-icon>add_circle</mat-icon> ADD A NEW area
    </button>
  </section>
  <div class="container">
    
    <form [hidden]="!showAddAreaForm">
      <div class="form-group">
        <input type="text" class="m-3 form-control" placeholder="area Name"  [(ngModel)]="newAreaName" name="area_name">
      </div>
      <button type="submit" class="m-3 btn btn-primary"  (click)="addArea(newAreaName)">Add area</button>
      <button type="button" class="m-3 btn btn-secondary" (click)="hideAddAreaForm()">Hide Form</button>
    </form>
    <h1>areas</h1>
    <div class="main-body">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>area Name</th>
              <th>PEE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let area of areas">
              <td class="m-3">
                {{ area.area_name }}
                <button mat-icon-button color="warn" (click)="deleteArea(area.id)" class="m-3">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
              <td class="m-3">
                <ul>
                  <li class="m-3" *ngFor="let epi of area.epis let i = index">
                    {{ epi.label }}
                    <button class="m-3" mat-icon-button color="warn" (click)="deleteEpi(area.id, epi.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </li>
                  <li class="m-3">
                    <form>
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="area.newEpiLabel" [ngModelOptions]="{ standalone: true }">
                          <option *ngFor="let epi of epis" [value]="epi.label" >{{ epi.label }}</option>
                        </select>
                        
                      </div>
                      <button (click)="addEpi(area, area.newEpiLabel)" class="  btn btn-primary m-3">Add PEE</button>
                    </form>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  