<div mat-dialog-title>
    <h1 style="text-align: center;"> PPE Request Form</h1>
</div>
<form [formGroup]="RequestForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content >
       <div class="container">
            <mat-form-field appearance="outline">
                <mat-label>Cost Center</mat-label>
                <mat-select formControlName="cost_centre">
                    <mat-option  *ngFor="let val of cost_centre" [value]="val.cost_centre_name">{{ val.cost_centre_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Full name</mat-label>
                <input matInput type="text" placeholder="Enter your full name" formControlName="name">
            </mat-form-field>
        </div>
        <div class="container">
            <mat-form-field appearance="outline">
                <mat-label>TE ID</mat-label>
                <input matInput placeholder="Enter your TE ID" formControlName="TEID">
            </mat-form-field>
        
            <mat-form-field appearance="outline">
                <mat-label>Department</mat-label>
                <mat-select formControlName="Department">
                    <mat-option *ngFor="let val of Department" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
        <div class="ppeForm">
            <h2>PPE Details </h2>
            <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>PPE</mat-label>
                <mat-select formControlName="ppe_label" >
                    <mat-option *ngFor="let epiKey of episKeys()" [value]="epiKey">{{ epiKey }}
                </mat-option>
                </mat-select>
            </mat-form-field> 
            </div>
            <div class="row" *ngIf="RequestForm.controls['ppe_label'].value && isAnyEpiNull()">
                <mat-form-field appearance="outline"  >
                <mat-label>Size</mat-label>
                <mat-select formControlName="ppe_size">
                    <mat-option *ngFor="let epi of epis[RequestForm.controls['ppe_label'].value] | keyvalue" [value]="epi.value" >{{ epi.value}}</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input matInput placeholder="Ex. 4" type="number" formControlName="RequestedQt">
                </mat-form-field>
            </div>
        </div>
            <div mat-dialog-actions class="action">
                <button mat-raised-button style="background-color: green; color: #fff;" type="submit">Add PPE</button>
            </div> 
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
</form>

